:root {
  --bg-dark: #1a2f3a;
  --header-height: 64px;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* layout grid */

body {
  margin: 0px;
  display: grid;
  height: 100vh;
  background-color: #f5f5f5;
}
